<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>INDEX PAGE</title>
		<style>
			body{
				font-family: Arial, sans-serif;
				background-color:#6A9C89;
				color:16423C;
				margin:0;
				padding:0;
				display:flex;
				justify-content:center;
				align-items:center;
				height:100vh;
				}
	</style>
	</head>
	<body>
		<div class="form-group">
		
		<h2>Well come to the your web_site</h2>
			<a href="/loginPage"><button>LOGIN</button></a>
			<a href="/signupPage"><button>SIGNUP</button></a>
			
		</div>
	</body>
</html>